<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            margin: 5% 10%;
            background-color: #ddd6fe;
            color: black;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
        }

        .reset {
            background-color: #3b3b3b;
            ;
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            color: #e7e7e7;
            text-decoration: none;
            border-radius: 5px;
            transition: 0.25s color;
        }

        .reset:hover {
            color: #fff;
        }
    </style>
</head>

<body>
    <span>Dear <%=name%></span>
    <span>We got a request from you to reset your password.</span>
    <span>Please click on the link below to reset your password.</span>
    <a href="<%=resetPasswordURL%>" class="reset">Reset password</a>
    <span>If the link is not clickable, click the link below.</span>
    <a href="<%=resetPasswordURL%>">
        <%=resetPasswordURL%>
    </a>
</body>

</html>